{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1 style="color: var(--general-site-color);">Корзина товаров</h1>
  <div id="cart_text">
    <!-- for js -->
  </div>
  {% if cart|length > 0 %}
    <table class="cart_table">
      <thead>
        <tr>
          <th>Пикча</th>
          <th>Товар</th>
          <th>Количество</th>
          <th>Общая цена</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          {% with product=item.product %}
            <tr class="cart_product" style="vertical-align: middle; ">
              <td>
                <a href="{{ product.get_absolute_url }}">
                  <img
                    src="{% if product.image %}/static/images/{{ product.image }}{% else %}/static/images/site_images/anon.png{% endif %}"
                    style="height: 50px;width:50px;">
                </a>
              </td>
              <td>{{ product.name }}</td>
              <td>{{ item.quantity }}</td>
              <!-- <td class="num" >{{ item.price }}<div class="currency"
                style="color:var(--officer-site-color);">₽</div>
              </td> -->
              <td class="num">
                {{ item.total_price }}₽
                <!-- <div class="currency" style="color:var(--officer-site-color);">₽</div> -->
              </td>
              <td><a data-product-slug="{{ product.slug }}" class="remove_cart_product">
                <img src="{% static 'images/site_images/delete_item_cross.svg' %}" alt="delete_product"
                    style="width: 40px;height:40px">
              </a></td>
            </tr>
          {% endwith %}
        {% endfor %}
          <tr class="total" style="margin-top: 20px;">

            <td>Всего</td>
            <td class="total_price" style="display: flex;">{{ cart.get_total_price }}<div class="currency"
                style="color:var(--officer-site-color);">₽</div>
            </td>
          </tr>
      </tbody>
    </table>
  {% else %}
    <span style="font-size: 22px;">
      Ваша корзина пуста😢
    </span>
  {% endif %}
  <p class="buttons" style="margin-top: 50px;">
    <button class="button light" style="margin-right: 10px;" onclick="location.href=`{% url 'catalog:catalog_page' %}`">
      В каталог
    </button>
    {% if cart|length > 0 %}
      {% if request.user.is_authenticated %}
        <button id="create_order" style="margin-right: 10px;" class="button"
          onclick="location.href=`{% url 'order:create' %}`">
          Оформить заказ
        </button>
      {% else %}
        <button id="create_order" style="margin-right: 10px;" class="button light" onclick="location.href=`{% url 'accounts:login' %}`">
          Необходима регистрация
        </button>
        <!-- <a href="{% url 'accounts:login' %}" class="button" id="create_order">Необходима регистрация</a> -->
      {% endif %}

    {% endif %}
  </p>

  <script type="module" src="{% static 'js/cart_scripts.js' %}"></script>
{% endblock %}