{% extends "base.html" %}

{% block title %}Thank you{% endblock %}

{% block content %}
<h1>Спасибо,</h1>

<p style="font-size: 22px;">Ваш заказ создался, его можно будет оплатить в течении 10 минут.</p>
  <!-- <a href="https://oplata.qiwi.com/form/?invoice_uid={{ order.order_id }}" target="blank" class="button light">Ссылка на оплату</a> -->
  <!-- <a href="{% url 'accounts:user' %}">Мои заказы</a> -->
  <div class="btns" style="display: flex;">
    <button style="margin-right: 10px;" class="button light"
      onclick="window.open('https://oplata.qiwi.com/form/?invoice_uid={{ order.order_id }}', '_blank');">
      Перейти к форме оплаты
    </button>
    <button class="button light_green" onclick="location.href=`{% url 'accounts:user' %}`">
      Мои заказы
    </button>
  </div>
{% endblock %}