{% extends 'base.html' %}
{% load static %}
{% block content %}
 <h1>Я - {{ request.user.username }}</h1>
  <div class="">
    <span style="font-size: 22px;color: var(--general-site-color);">Мои заказы:</span> 
    {% if orders|length > 0 %}
    <table class="cart_table" style="margin-top: 25px;">
      <thead>
        <tr>
          <th>Заказ</th>
          <th>Товары</th>
          <th>Общая цена</th>
          <th>Статус</th>
          <th></th>
          </tr>
        </thead>
        <tbody>
            {% for order in orders %}
              <tr class="cart_product" data-order-id="{{order.id}}" style="vertical-align: inherit; ">
                <td>
                  <a href="{{ order.get_absolute_url }}" class="order_link">
                    Заказ #{{ order.id }}
                  </a>
                </td>
                <td style="word-break: break-all;">
                  <ul class="order_items">
                    {% for item in order.items.all %}
                    <li>
                      <img style="height: 50px;width:50px;" src="{% if item.product.image %}/static/images/{{ item.product.image }}{% else %}/static/images/site_images/anon.png{% endif %}" alt="">
                      
                      x{{ item.quantity }}
                    </li>
                    {% endfor %}
                  </ul>
                </td>
                <td>{{ order.get_total_price }}₽</td>
                <td class="order__status" data-status="{{order.status}}" >
                  {% if order.status == "WA" %}
                    <span style="color:orange">Ожидает</span>
                  {% elif order.status == "EX" %}
                    <span style="color:red">Истек</span> 
                  {% elif order.status == "PD" %}
                    <span style="color:greenyellow">Оплачен</span> 
                  {% else %}
                    <span style="color:red">Ошибка</span>
                  {% endif %}

                </td>
                {% if order.status == "WA" %}
                <td class="unpaid_order_data">
                  <div class="pay_data">
                    <button class="pay_button" onclick="window.open('https://oplata.qiwi.com/form/?invoice_uid={{ order.order_id }}', '_blank');">
                      Перейти к форме оплаты
                    </button>
                    <!-- <button class="i_paid_order_button pay_button" style="position: relative;" data-order-id="{{ order.order_id }}">
                      <div class="error_msg"></div>
                      Проверить статус
                    </button> -->
                  </div>
                </td>
                {% endif %}
                <!-- <td class="num" >{{ item.price }}<div class="currency"
                          style="color:var(--officer-site-color);">₽</div>
                        </td> -->
                <td class="num">

                  <!-- <div class="currency" style="color:var(--officer-site-color);">₽</div> -->
                </td>
              </tr>
            {% endfor %}
            
          </tbody>
        </table>
        {% else %}
        no orders
        {% endif %}
    </div>

    <!-- popup -->
  <div class="popup__bg">
    <form class="popup">
      <!-- <img src="images/close.svg"  class="close-popup"> -->
      <img style="height: 50px;width:50px;" src="/static/images/site_images/delete_item_cross.svg"  class="close-popup"></img>
      <span>Платеж прошел, спасибо за покупку в интернет-магазине ZIRAEL💕</span><br>
      <span>Все товары будут упакованы и отправлены на указанный Вами зип-код.</span>
      
    </form>
  </div>

    <script type="module" src="{% static 'js/user_page_scripts.js' %}"></script>
{% endblock %}