{% extends "base.html" %}


{% block content %}
    <h1 style="color: var(--general-site-color);">Логин</h1>
    {% if form.errors %}
    <p>
      Ваши данные неверны. Попробуйте снова.
    </p>
    {% else %}
    <p>Пожалуйста, заполните форму ниже:</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Войти" class="button"></p>
      </form>
    </div>  

  <a href="{% url 'accounts:singup' %}">Регистрация</a>
{% endblock %}