{% extends "base.html" %}


{% block content %}
    <h1 style="color: var(--general-site-color);">Логин</h1>
    {% if err %}
      <p>
        Ваши данные неверны. Попробуйте снова.
      </p>
    {% else %}
      <p>Пожалуйста, заполните форму ниже:</p>
    {% endif %}
    <div class="login-form">
    
      <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Войти" class="button light"></p>
    </div>  

    <div class="reg_" style="max-width: 200px;">
       <a href="{% url 'accounts:signup' %}" class="button">Регистрация</a>

    </div>

</form>
{% endblock %}