{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/site_images/ava2ver.jpg' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/lightslider.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</head>

<body style="padding-top: 10px;padding-bottom: 10px;">
  
  <div class="wrapper">
    <header>
      <nav class="header">
        <div class="ava">
          <a href="/"><img src="{% static 'images/site_images/main_ava_with_text2ver.jpg' %}" alt="ava" class="ava_main"></a>
        </div>
        <ul>
          <a href="/"><li>ГЛАВНАЯ</li></a>
          <a href="{% url 'catalog:catalog_page' %}"><li>КАТАЛОГ</li></a>
          <a href="{% url 'catalog:categories_page' %}"><li>КАТЕГОРИИ</li></a>
          {% with total_items=cart|length %}
            <a href="{% url 'cart:cart_detail' %}" style="position: relative;" id="cart"><li>КОРЗИНА</li>
              {% if total_items > 0 %}
                <div class="cart_total">
                  {{ total_items }}
                </div>
              {% endif %}
              </a>
          {% endwith %}
          {% if user.is_authenticated %}
            <span id="me_header">me
              
              <svg class="me_dropdown_arrow" width="30px" height="30px" viewBox="0 0 10 5" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                <g id="Icons" stroke="none" stroke-width="1" fill="white" fill-rule="evenodd">
                  <g id="24-px-Icons" transform="translate(-223.000000, -368.000000)" fill="white">
                    <g id="ic_dropdown_cyan" transform="translate(216.000000, 360.000000)">
                      <g id="Path-2">
                        <polygon points="7 8 17 8 12 13"></polygon>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
              <div class="me_gropdown">
                <a href="{% url 'accounts:user' %}" class="me_account">{{ user.username }}</a>
                <a href="{% url 'logout' %}?next={{request.path}}" class="me_logout">logout</a>
              </div>
            </span> 
          {% else %}
            <a href="{% url 'login' %}">login</a> 
          {% endif %}
              <!-- intrestiong func, само подставляет окончание в зависимости от числа -->
              <!-- {{ total_items|pluralize }} -->
              <!-- {{ cart.get_total_price }}₽ -->
        </ul>
      </nav>
    </header> 
    {% block content %}
    {% endblock %}
    {% block pagination %}
      {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
            <span class="page-current">
              {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" style="margin-right: 10px;">prev</a>

              {% endif %}
              <div class="pag_pages">

                
                {% with page_obj.number as page %}
                  <div class="pag_before_current pag_item">
                    {% if page > 2 %}
                      <a href="?page={{ page|add:'-2' }}">
                        {{ page|add:"-2" }}
                      </a>
                    {% endif %}
                    {% if page > 1 %}
                      <a href="?page={{ page|add:'-1' }}">
                        {{ page|add:"-1" }}
                      </a>
                    {% endif %}
                  </div>
                  
                  <div class="pag_current pag_item">
                    <a href="?page={{ page }}" style="color: var(--officer-site-color);"> 
                      {{ page }}
                    </a>
                  </div>
                  {# qew #}
                  <div class="pag_after_current pag_item">
                    {% if page != page_obj.paginator.num_pages %}
                      <a href="?page={{ page|add:'+1' }}">
                        {{ page|add:"+1" }}
                      </a>
                    {% endif %}
                  </div>
                  {% endwith %}
                </div>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
              
            </span>
              <div class="total_pages">total pages: {{ page_obj.paginator.num_pages }}</div>
          </span>
        </div>
      {% endif %}
    {% endblock %}
  </div>

 
  <!-- <script src="{% static 'js/script.js' %}"></script> -->
</body>

</html>