{% extends 'base.html' %}
{% block content %}
<div class="main_page">
  <div class="main_text">
    <ul class="main_images">
      <li><img src="/static/images/site_images/attention.png" alt="attention_img" style="height: 75%;width: 90%;"></li>
      <li><img src="/static/images/site_images/no-knifes.png" alt="no_cold_weapon"></li>
      <li><img src="/static/images/site_images/no-guns.png" alt="no_guns"></li>
    </ul>
    <h1>ВСЕ ПРЕДСТАВЛЕНЫЕ НА САЙТЕ ТОВАРЫ НЕ ЯВЛЯЕТСЯ БОЕВЫМИ. НА НОЖАХ, САБЛЯХ, МЕЧАХ, КИНЖАЛАХ НЕТ ЗАТОЧКИ
      ОГНЕСТРЕЛЬНОЕ ОРУЖИЕ ДЕКОРАТИВНОЕ
    </h1>
  </div>
  <h1><a href="/catalog" style="color: greenyellow;">К каталогу></a></h1>
</div>
{% endblock %}