
/* main font init */
@font-face {
  font-family: 'custom';
  src: url('../fonts/ofont.ru_Vinque_Rg.ttf');
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 0px;
  /* ширина для вертикального скролла */
  height: 0px;
  /* высота для горизонтального скролла */
  background-color: #000000;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: var(--officer-site-color);
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

/* tag styles */
*{
  box-sizing: border-box;
}
body{
  --general-site-color: #adff2f;
  --officer-site-color: rgb(0, 152, 247);
  --main-description-color: gray;
  font-family: 'custom';
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

.wrapper{
  width: 80%;
  margin: auto;
}
a{
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}
img{
  object-fit: cover;
}

/* header styles */
.ava_main {
  /* width: 50px; */
  height: 45px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header>ul{
  font-size: 27px;
  display: flex;
}
.header>ul>a{
  margin-left: 15px;
  transition: .15s;
  user-select: none;
}
.header>ul>a:hover{
  color: var(--general-site-color);
}
.cart_total{
  display: flex;
  position: absolute;
  top: -18px;
  right: -20px;
  z-index: 999;
  color: var(--officer-site-color);
  height: 36px;
  width: 36px;
  align-items: center;
  background: black;
  border-radius: 50%;
  border: 3px solid var(--officer-site-color);
  justify-content: center;
  padding: 5px;
}

/* main page styles */

.main_text>img{
  height: 60px;
}
.main_text>h1{
  margin: 0;
}
.main_images{
  display: flex;
}
.main_images>li{
  display: flex;
  align-items: center;
  margin: 0;
  height: 60px;
  width: 60px;
}
.main_images>li>img{
  margin: 0;
  height: 100%;
  width: 100%;
}

/* categoriers page styles */
.categories_page{
  margin-top: 15px;
}
.no_cat{
  font-size: 25px;
  color: var(--general-site-color);
}
.cat_title{
  font-size: 30px;
  color: var(--general-site-color);
}
.cat_link{
  margin-bottom: 10px;
}
.cat_link>a{
  display: flex;
  align-items: center;
  font-size: 25px;
}
.cat_text{
  margin-left: 5px;
}
.cat_link>a:hover{
  color: var(--officer-site-color);
}
.cat_list>ul{
  display: flex;
  flex-direction: column;
}

/* category detail styles */
.cat_items{
  display: flex;
  flex-direction: column;
}
.cat_item_data{
  margin-top: 15px;
}
.cat_info{
  display: flex;
  align-items: center;
}
.back{
  font-size: 25px;
  margin-right: 5px;
  color: var(--officer-site-color);
}
.cat_name{
  font-size: 25px;
  color: var(--general-site-color);
}
.cat_item{
  font-size: 22px;
}
.cat_item:hover{
  color: var(--officer-site-color);
}

/* product card styles in /catalog page */
.product_descr{
  margin-top: 5px;
  font-size: 16.5px;
  color: var(--main-description-color);
}
.catalog{
  justify-content: space-evenly;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.product_price{
  font-size: 18px;
}
.product_name{
  font-size: 25px;
}
.card{
  cursor: pointer;
  border: 1px solid var(--general-site-color);
  width: 30%;
  max-width: 30%;
  height: 320px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.card_data{
  padding: 5px;
}
.card>img{
  width: 100px;
}
.card>img{
  height: 60%;
  width: 100%;
}

/* item detail styles */
.cat_tooltip{
  display: none;
}
.cat_link{
  position: relative;
}
.top_bar_content{
  /* justify-content: space-between; */
  margin-top: 35px;
  display: flex;
}
.item__price{
  font-size: 28px;
}
.item__text>a{
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.item__text_data>table{
  font-size: 25px;
}
.item_chars{
  display: flex;
  font-size: 20.5px;
}
.item__text{
  display: flex;
  /* align-items: center; */
  color: var(--general-site-color);
  font-size: 33px;
}
.item__description{
  color: var(--main-description-color);
  font-size: 30px;
  margin-top: 15px;
}
.item__text_data{
  max-width: 40%;
  font-size: 25px;
  /* max-width: 400px; */
  margin-left: 15px;
}
.item__text_data>table>tbody>tr>td:last-child{
  padding-left: 10px;
}
.item__images{
  width: 55%;
}
.item__images>img{
  width: 100%;
  max-width: 425px;
  max-height: 350px;

}
.item__text_data>table{
  margin-top: 15px;
}


/* current slider(swiper) */
.mySwiper{
  order: -1;
  width: auto !important;
}
.mySwiper>div{
  flex-direction: column;
}
.wrap_slider{
  /* flex-direction: column-reverse; */
  max-width: 45%;
  display: flex;
}
.swiper {
  width: 100%;
  height: 100%;
}
  
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swaper_wrapper2{
  display: flex;
}

.swiper-slide img {
  margin-bottom: 7px;

  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  margin-right: 5px !important;
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-slide>img{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.mySwiper .swiper-slide {
width: 60px !important;
height: 100%;
opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
opacity: 1;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}


/* cart styles */
.cart{
  font-size: 25px;
  width: 100%;
}
.cart>thead>tr>th{
  
}
.button{
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 3px solid gray;
  color: white;
  font-size: 30px;
}
.light{
  border: 3px solid var(--officer-site-color);
}