{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<div class="item_data">
  <a href="{% url 'catalog:catalog_page' %}" style="display: flex;">
    <span href="{% url 'catalog:catalog_page' %}" class="back"><</span>
    <span style="font-size: 25px;">В каталог</span>
  </a>
  </div>
  <div class="top_bar_content">
          

           <div class="wrap_slider" style="width: 100%; height:100%">
            <div class="swiper mySwiper2">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    src="{% if product.image %}/static/images/{{ product.image }}{% else %}../static/images/site_images/anon.png{% endif %}"
                    alt="item_img" ondrag="return false" ondragdrop="return false" ondragstart="return false">
                </div>
                {% for img in images %}
                  <div class="swiper-slide">
                    <img src="/static/images/{{ img.images }}" alt="" ondrag="return false" ondragdrop="return false" ondragstart="return false">
                  </div>
                {% endfor %}
              </div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
              <div class="swiper-wrapper swaper_wrapper2">
                <div class="swiper-slide">
                  <img
                    src="{% if product.image %}/static/images/{{ product.image }}{% else %}/static/images/site_images/anon.png{% endif %}"
                    alt="item_img" style="max-width: 50px;max-height:50px;">
                </div>
                {% for img in images %}
                  <div class="swiper-slide">
                    <img src="/static/images/{{ img.images }}" alt="" style="max-width: 50px;max-height:50px;">
                  </div>
                {% endfor %}
              </div>
            </div>
           </div>
       
            
        <div class="item__text_data">
          <div class="item__text">{{ product.name }}
            {% if product.category.image %}
            
            <a href="{{ product.category.get_absolute_url }}" style="position: relative;" class='cat_link' title="Категории">
              <img src="/static/images/cat_images/{{ product.category.image }}"
               alt="cat_image"
               style="width: 40px;height:40px;"
               class="cat_img">
               <div class="cat_tooltip">Категория</div>
            </a>
            {% endif %}
          </div>
          <div class="item__price">{{ product.price }}₽</div>
          <div class="item__description">{{ product.description }}
            
          </div>
          <table>
            <tbody>
                <tr>
                  <td>Материал</td>
                  <td class="item_chars">&nbsp;{{ product.material }}</td>
                </tr>
                <tr>
                  <td>Толщина</td>
                  <td class="item_chars">&nbsp;{{ product.thickness }}<div class="si" style="color: var(--officer-site-color);">см</div></td>
                </tr>
                <tr>
                  <td>Ширина</td>
                  <td class="item_chars">&nbsp;{{ product.width }}<div class="si" style="color: var(--officer-site-color);">см</div></td>
                </tr>
                <tr>
                  <td>Длина</td>
                  <td class="item_chars">&nbsp;{{ product.height }}<div class="si" style="color: var(--officer-site-color);">см</div></td>
                </tr>
                <tr>
                  <td>Вес</td>
                  <td class="item_chars">&nbsp;{{ product.weight }}<div class="si" style="color: var(--officer-site-color);">кг</div></td>
                </tr>
        
        
            </tbody>
          </table>
          <span id="output" style="color: red;"></span>
          <form id="add_to_cart_form_" onsubmit="return false" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input data-slug="{{ product.slug }}" type="submit" id="add_product_to_cart_btn" value="Add to cart">
          </form>

        </div>
  </div> 
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/product_scripts.js' %}" type="module"></script>

</div>
{% endblock %}