{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% if products %}
  <div class="catalog">
    {% for product in products %}
      <a href="{{ product.get_absolute_url }}" class="card">
        <img src="{% if product.image %}../static/images/{{ product.image }}{% else %}../static/images/site_images/anon.png{% endif %}"
          alt="img_card">
          <div class="card_data">
            <div class="product_name">
              {{ product.name }}
            </div>
            <div class="product_price">
              {{ product.price }}₽
            </div>
            <div class="product_descr">
              {{ product.description }}
            </div>
          </div>

      </a>
    {% endfor %}
  </div>
  {% else %}
<h1>No product(</h1>
{% endif %}
{% endblock %}